doctype html
html
    head
        title
            |NUTEE
        meta(charset='utf-8')
        link(rel="stylesheet", href="/css/index.css")
        link(rel="stylesheet", href="/css/search.css")
        link(href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet")
    body
        div(class='__header')
            div(class='__headerThum')
                a(href="/index")
                    img(src="/image/nutee_icon.png")
            div(class='__headericon')
                a(href="/index/0/0")
                    img(src="/image/notification.png", style= color[0])
            div(class='__headericon')
                a(href="/index/1/0")
                    img(src="/image/file.png", style= color[1])
            div(class='__headericon')
                a(href="/index/2/0")
                    img(src="/image/magic-wand.png", style= color[2])
            div(class='__headericon')
                a(href="/index/3/0")
                    img(src="/image/paper-plane.png", style= color[3])
            div
                a(href="")
                    img(class='__headerQuestion' src="/image/question.png")
                a(href="")
                    img(class='__headerMaking' src="/image/Making.png")
            
        div(class='__header_detail')
            p(class='__header_title')
                |NUTEE
            div(class='__header_pages')
                =context
            div
                -for(var i=0; i<list.length; i++)
                    -if(i == id)
                        p(class='__header_list')
                            button(class='__header_list_current' onClick="location.href='/index/#{number}/#{i}'")
                                =list[i]
                    -else
                        p(class='__header_list')
                            button(class='b01_simple_rollover' onClick="location.href='/index/#{number}/#{i}'")
                                =list[i]
        div(class='__body')
            p(class='__body_title')
                =context
            p(class='__body_user')
                span
                    |Nutee_Admin
            img(class='__body_user_icon' src="/image/user.png", alt="")
            p(class='__body_user')
                span
                    |Logout
        
        div(class="__notice_view")
            form(action="/index" method="get")
                span
                    |[잡담]
                label(style="margin-right: 20rem;")
                    |제목은 테스트테스트 123123
                span
                    |작성자:
                label(style="margin-right: 10rem;")
                    |스누피
                span
                    |작성일:
                label
                    |2019-01-03
                br
                //- label
                //-     |파일첨부
                //- input(class="__file" type="file")
                br
                div(class="__content")
                    |content 내용을 작성했습니다.content 내용을 작성했습니다.content 내용을 작성했습니다.
                //- button(type="submit")
                //-     |작성
                div(class="__state")
                    p(style="color: red")
                        |댓글 10 
                    p
                        |조회수 63 
                    p
                        |공감 12 
                    p   
                        |신고 0
        div(class="__notice_coment")
            div
                span    
                    |스누피
                span(style="font-weight: 100")
                    |2019-01-02
                span(style="font-weight: 100")
                    |답글 | 신고
                p
                    |댓글입니당.
            div
                span    
                    |스누피
                span(style="font-weight: 100")
                    |2019-01-02
                span(style="font-weight: 100")
                    |답글 | 신고
                p
                    |댓글입니당.
            div
                span    
                    |스누피
                span(style="font-weight: 100")
                    |2019-01-02
                span(style="font-weight: 100")
                    |답글 | 신고
                p
                    |댓글입니당.
            div
                span    
                    |스누피
                span(style="font-weight: 100")
                    |2019-01-02
                span(style="font-weight: 100")
                    |답글 | 신고
                p
                    |댓글입니당.
            div
                span    
                    |스누피
                span(style="font-weight: 100")
                    |2019-01-02
                span(style="font-weight: 100")
                    |답글 | 신고
                p
                    |댓글입니당.

            div
                span    
                    |스누피
                span(style="font-weight: 100")
                    |2019-01-02
                span(style="font-weight: 100")
                    |답글 | 신고
                p
                    |댓글입니당.

            div
                span    
                    |스누피
                span(style="font-weight: 100")
                    |2019-01-02
                span(style="font-weight: 100")
                    |답글 | 신고
                p
                    |댓글입니당.
        div(class="__notice_coment_add")
            textarea
            button(type="submit")
                |댓글작성
